body{
	/*border: 1px red solid;*/
	margin:0 auto;
}

#header{
	widows: 100%;
	height: 50px;
}

#tableDis{/*
	border: 1px red solid;*/
	width: 868px;
	margin:0 auto;
}

img{
	height: 215px;
	width: 178px;
	border: 1px red solid;
}

.mainTable{
	height: 868px;
}

.subTable{
	width: 180px;
	/*border: 1px orange solid;*/
}

.subTable p{
	line-height: 15px;
	height: 1px;
	font-family:"宋体","Times New Roman";
	color: #000;
}